<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>petit poney, petit poney</title>



    {% stylesheets '@IIMMyBundle/Resources/public/css/*' %}

        <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>

    {% endstylesheets %}





</head>
<body>

    {% block content %}
    {% endblock content %}

</body>
</html>




